<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myActionLabel">Create or edit an Action</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="action.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_logDate">Date Created</label>
            <input type="date" class="form-control" name="logDate" id="field_logDate"
                    ng-model="action.logDate" readonly />
            <div ng-show="editForm.logDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.logDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_actionItems">Action</label>
            <input type="text" class="form-control" name="actionItems" id="field_actionItems"
                    ng-model="action.actionItems" />
        </div>
        <div class="form-group">
            <label for="field_nextActionDate">Due Date</label>
            <input type="date" class="form-control" name="nextActionDate" id="field_nextActionDate"
                    ng-model="action.nextActionDate" />
        </div>

        <div class="form-group">
            <label for="field_plan">Plan</label>
            <select class="form-control" id="field_plan" name="plan" ng-model="action.plan" ng-options="plan as plan.solutionName for plan in plans track by plan.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_user">Owner</label>
            <select class="form-control" id="field_user" name="user" ng-model="action.user" ng-options="user as user.firstName for plan in plans track by user.id">
                <option value=""></option>
            </select>
        </div> 
         <div class="form-group">
            <label for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="action.status" id="field_status">
               	<option selected="selected" value="Pending">Pending</option>
                <option value="Completed">Completed</option>                
            </select>
            
        </div>       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
        <button type="submit" class="btn btn-primary" ng-click="markcompleted()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Action Completed</span>
        </button>
    </div>
    
</form>
