<div>
    <h2>Rules</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="rule.new" has-any-authority="ROLE_ADMIN,ROLE_BUS_OPS">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Rule</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Plan Field</th>
                    <th>Duration Rule</th>
                    <th>Back State</th>
                    <th>Forward State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rule in rules track by rule.id">
                    <td><a ui-sref="rule.detail({id:rule.id})">{{rule.id}}</a></td>
                    <td>{{rule.name}}</td>
                    <td>{{rule.fieldSpec}}</td>
                    <td>{{rule.rule}}</td>
                    <td>{{rule.backState}}</td>
                    <td>{{rule.forwardState}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="rule.detail({id:rule.id})"
                                class="btn btn-info btn-sm" data-toggle="tooltip" title="View">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                                ui-sref="rule.edit({id:rule.id})"
                                class="btn btn-primary btn-sm" data-toggle="tooltip" title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ui-sref="rule.delete({id:rule.id})"
                                class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
